.lead-body {
  padding: 8px 30px;
  border-bottom: 1px solid #dcdcdc;
}

.top-head {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.left-side--btns,
.right-side--btns {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 16px;
}

.view {
  margin-left: 30px;
  box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.1),
    -2px 4px 5px 0px rgba(0, 0, 0, 0.1), 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: #ffffff; /* replace with your desired background color */
}

.grid-view--btn,
.list-view--btn {
  background: #ffffff;
  border: 1px solid #dcdcdc;
  padding: 9px;
  border-radius: 5px;
  font-size: 14px;
  /* margin: 0 0.3rem; */
}

.view .active-btn {
  border: 1px solid #2b74da;
  color: #2b74da;
}

.list-view--btn {
  border: 1px solid #ffffff;
}

.list-view--btn:hover,
.settings:hover {
  border: 1px solid #2b74da;
  color: #2b74da;
}

.right-side--btns p {
  color: #1e2224;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 0.875rem;
}

.right-side--btns > .secondary-btn {
  padding: 8px 20px;
  font-family: "Lexend Deca", sans-serif;
  padding: 7px 15px;
  border-radius: 0.3125rem;
  border: 1px solid #077838;
  background: #077838;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: -0.02563rem;
  text-transform: capitalize;
}
.secondary-btn:hover {
  cursor: pointer;
  color: #077838;
  background: #ffffff;
  border: 1px solid #077838;
  transition: all 400ms ease-in-out;
}

.simple-btn {
  padding: 7px 25px;
  font-size: 0.875rem;
  font-family: "Lexend Deca", sans-serif;
  border-radius: 0.3125rem;
  border: 1px solid #dcdcdc;
  background: #ffffff;
  color: #1e2224;
  font-weight: 500;
  text-transform: capitalize;
  cursor: pointer;
}

.simple-btn:hover {
  border: 1px solid #077838;
  background: #077838;
  color: #ffffff;
  transition: all 400ms ease-in-out;
}
.dropdown-container {
  position: relative;
  display: inline-block;
  margin: 0;
  width: 7.4375rem;
  height: 2.125rem;
  font-family: "Lexend Deca", sans-serif;
  text-transform: capitalize;
  border-radius: 0.3125rem;
}

.dropdown-header {
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  gap: 12px;
  align-items: center;
  cursor: pointer;
  padding: 7px 8px;
  border-radius: 0.3125rem;
  font-size: 0.875rem;
  color: rgb(30, 34, 36);
  border: 1px solid #699ce5;
  font-weight: 500;
  background: #eff6ff;
}
.dropdown-header2 {
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  gap: 12px;
  align-items: center;
  cursor: pointer;
  padding: 7px 8px;
  border-radius: 0.3125rem;
  font-size: 0.875rem;
  color: rgb(30, 34, 36);
  font-weight: 500;
  border: 1px solid #dcdcdc;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  width: 120px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown-menu li {
  padding: 10px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #f1f1f1;
  border-radius: 5px;
  transition: all 500ms ease-in-out;
}
.cards-body {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 30px;
  overflow-x: scroll;
}
.cards-body::-webkit-scrollbar {
  width: 5px; /* Adjust the width as desired */
}
.card-details {
  position: relative;
}
.main-cards {
  min-width: 17.6875rem;
  height: 33rem;
  border: 1px solid #dcdcdc;
  padding: 35px 6px;
  background: #ffffff;
  overflow: hidden;
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.main-cards::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.main-cards {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.cards-new {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background: #f4f5f9;
  border: 1px solid #dcdcdc;
  padding: 10px 20px;
  font-family: "Lexend Deca", sans-serif;
  text-transform: capitalize;
  margin-bottom: 16px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.cards-new .new-leads::before {
  content: "";
  width: 0.375rem;
  height: 0.375rem;
  background: #5181ff;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6px;
  vertical-align: 3%;
}
.new-leads {
  color: #5181ff;
  font-size: 0.875rem;
  font-weight: 500;
  font-family: "Lexend Deca", sans-serif;
}
.new-color {
  color: #5181ff;
}
.cards-new .new-leads::before {
  content: "";
  width: 0.375rem;
  height: 0.375rem;
  background: #5181ff;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6px;
  vertical-align: 3%;
}

.open-color {
  color: #b543eb;
}
.cards-new .open-color::before {
  content: "";
  width: 0.375rem;
  height: 0.375rem;
  background: #b543eb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6px;
  vertical-align: 3%;
}

.progress-color {
  color: #63c257;
}
.cards-new .progress-color::before {
  content: "";
  width: 0.375rem;
  height: 0.375rem;
  background: #63c257;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6px;
  vertical-align: 3%;
}

.deal-color {
  color: #fd9802;
}
.cards-new .deal-color::before {
  content: "";
  width: 0.375rem;
  height: 0.375rem;
  background: #fd9802;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6px;
  vertical-align: 3%;
}

.unread-color {
  color: #797979;
}
.cards-new .unread-color::before {
  content: "";
  width: 8px;
  height: 8px;
  background: #797979;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6px;
  vertical-align: 3%;
}

.cards-new .leads {
  font-size: 0.875rem;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  color: #33475b;
}
.user-card {
  cursor: pointer;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 0.3125rem;
  width: 16.6875rem;
  height: 6.875rem;
  margin: 8px 0px;
}

.user-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.2rem;
}
.lead-value{
  color: #1E2224;
font-family: "Lexend Deca";
font-size: 0.875rem;
font-weight: 500;
text-transform: capitalize;
}
.user-details {
  align-items: center;
}

.user-details img {
  width: 0.75rem;
  height: 0.75rem;
}

.user-details p {
  text-transform: capitalize;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 22px;
}

.user-details p span {
  font-size: 0.7rem;
  font-weight: 300;
  color: #818181;
  font-family: "Lexend Deca", sans-serif;
}

.user-setting--btn {
  background: #ffffff;
  border: 1px solid #dcdcdc;
  padding: 5px 5px;
  border-radius: 5px;
  font-size: 18px;
  max-height: 41px;
  color: #1e2224;
}

.user-setting--btn:hover {
  border: 1px solid #2b74da;
  color: #2b74da;
}

.contact-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.contact-details p {
  font-size: 0.87rem;
  color: #818181;
  font-weight: 500;
}
.mail,
.call {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.mail img,
.call img {
  width: 0.875rem;
  height: 0.875rem;
}

.imptnt {
  background: #ff4040;
  /* height: 32px; */
  color: #ffffff !important;
  font-size: 0.75rem;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  padding: 4px 6px;
  border-radius: 5px;
  text-transform: capitalize;
}

.avg {
  background: #ffb42e;
  /* height: 32px; */
  color: #ffffff !important;
  font-size: 0.75rem;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  padding: 4px 6px;
  border-radius: 5px;
  text-transform: capitalize;
}
.cool {
  background: #ff4040;
  /* height: 32px; */
  color: #ffffff !important;
  font-size: 0.75rem;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  padding: 4px 6px;
  border-radius: 5px;
  text-transform: capitalize;
}

.bottom-fixed {
  background: #ffffff;
  border: 1px solid #dcdcdc;
  /* border-radius: 0 0 10px 10px; */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
}

.bottom-fixed p {
  font-size: 1rem;
  color: #1e2224;
  font-weight: 500;
  text-transform: capitalize;
  float: right;
}

/* modal box code */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
}
/* 
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  max-width: 400px;
  text-align: center;
  position: relative;
} */
.customization_popup_container {
  position: absolute;
  width: 70%;
  margin: 0 auto;
  left: 1rem;
  top: 0;
  height: 100vh;
  background: #fff;
  border-radius: 0.25em 0.25em 0.4em 0.4em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translatex(400px);
  -moz-transform: translatex(400px);
  -ms-transform: translatex(400px);
  -o-transform: translatex(400px);
  transform: translatex(400px);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  display: flex;
  flex-wrap: nowrap;
}

.close {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  position: absolute;
  top: 8px;
  left: -40px;
  padding: 0.3rem 0.5rem;
  background: #ffffff;
  border-radius: 5px;
}
/* basic modal box code ends here */
/* modal box content */
.user-details--left {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  min-width: 350px;
  border-right: 1px solid #dcdcdc;
  padding: 15px;
  position: relative;
}

.user-details--heading {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.user-details--heading img {
  width: 3.125rem;
  height: 3.125rem;
}

.user-details--heading p {
  text-align: left;
  text-transform: capitalize;
  font-family: "Lexend Deca";
  font-size: 1.125rem;
  font-weight: 500;
  color: #1e2224;
  line-height: 17px;
}

.user-details--heading p span {
  color: #818181;
  font-family: "Lexend Deca";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.02563rem;
}
.user-details-imgBox {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.user-details-imgBox input{
  color: #1e2224;
    font-weight: 400;
     border: 1px solid #dcdcdc;
    outline: rgb(59, 59, 59);
    background-color: #ffffff;
     border-radius: 5px;
    font-size: 12px;
    font-family: "Lexend Deca";
    padding: 0.5rem;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
}
.user-details-imgBox input:focus{
  border: 1px solid #E2E9F2;
}
.user-details-imgBox input:hover{
  background-color:rgb(227, 225, 225);
transition: all .5s ease-in-out;
cursor: pointer;

}
.leadDetailsLeft{
  overflow: hidden;
  overflow-y: scroll;
}
.detailsBox {
  padding-top: 0.7rem;
  text-align: left;
}
.detailHead {
  color: #1e2224;
  font-family: "Lexend Deca";
  font-size: 0.82rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.02563rem;
  margin-bottom: 0.8rem;
}
.detailsContent {
  display: flex;
  gap: 2rem;
}
.detailsLeftContainer{
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.2rem;
}
.detailsLeftContainer p {
  color: #4b5054;
  font-family: "Lexend Deca";
  font-size: 0.78rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02563rem;
}
.detailsLeftContainer2{
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.2rem;
}
.detailsLeftContainer2 p {
  color: #4b5054;
  font-family: "Lexend Deca";
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02563rem;
}
.detailsRightContainer{
  /* border: 2px solid aqua; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.detailsRightContainer p {
  color: #1e2224;
  font-family: "Lexend Deca";
  font-size: 0.78rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02563rem;
}
.detailsStatus {
  border-radius: 0.1875rem;
  width: fit-content;
  background: #63c257;
  text-align: center;
  padding: 0.1rem 0.8rem;
}
.detailsStatus span {
  color: #fff;
  font-family: "Lexend Deca";
  font-size: 0.75rem;
  font-weight: 400;
}
.modalLeftBtnBox{
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
}

.convertToDeal {
  padding: 8px 20px;
  font-family: "Lexend Deca", sans-serif;
  padding: 7px 15px;
  border-radius: 0.3125rem;
  border: 1px solid #077838;
  background: #077838;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: -0.02563rem;
  text-transform: capitalize;
}
.convertToDeal:hover {
  cursor: pointer;
  color: #077838;
  background: #ffffff;
  border: 1px solid #077838;
  transition: all 400ms ease-in-out;
}
.disabledBtn {
  padding: 8px 20px;
  font-family: "Lexend Deca", sans-serif;
  padding: 7px 15px;
  border-radius: 0.3125rem;
  border: 1px solid #F3F6FA;
  background: #F3F6FA;
  color: #909DAF;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: -0.02563rem;
  text-transform: capitalize;
}

.detailsRightContainer input{
  color: #1e2224;
    font-weight: 400;
     border: 1px solid #dcdcdc;
    outline: rgb(59, 59, 59);
    background-color: #ffffff;
      font-size: 0.8rem;
    font-family: "Lexend Deca";
    border-radius: 0.3125rem;
    padding: 0.3rem;
  }
.detailsRightContainer input:focus{
  border: 1px solid #E2E9F2;
  box-shadow: none;
}
.detailsRightContainer input:hover{
  background-color:rgb(227, 225, 225);
transition: all .5s ease-in-out;
cursor: pointer;
}
.detailsRightContainer select{
  width: 100%;
  color: #1e2224;
    font-weight: 400;
     border: 1px solid #dcdcdc;
    outline: rgb(59, 59, 59);
    background-color: #ffffff;
      font-size: 0.8rem;
    font-family: "Lexend Deca";
    border-radius: 0.3125rem;
    padding: 0.3rem;
  }
.detailsRightContainer select:focus{
  border: 1px solid #E2E9F2;
  box-shadow: none;
}
.detailsRightContainer select:hover{
  background-color:rgb(227, 225, 225);
transition: all .5s ease-in-out;
cursor: pointer;
}
.updateMsg{
  color: #077838;
  font-size: 15px;
  font-family: "Work Sans";
  text-transform: capitalize;
  min-width: 150px;
  font-weight: 600;
text-align: center;
animation: blink 1s linear infinite;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* tabination part */
.tab-navigation {
  display: flex;
  padding: 0.7rem;
  gap: 0.5rem;
  /* justify-content: space-between; */
}

.tab-navigation button {
  padding: 8px 25px;
  border: 1px solid #d8d8d8;
  border-radius: 0.3125rem;
  font-family: "Lexend Deca";
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: normal;
color: #818181;
background: #FFF;
  cursor: pointer;
}
.tab-navigation button .fa-sharp{
    margin-right: 0.5rem;
}
.tab-navigation button.active {
  border: 1px solid #2B74DA;
  color: #2b74da;
  border-radius: 0.3125rem;
  font-family: "Lexend Deca";
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: normal;
background: #FFF;
  cursor: pointer;
}
.user-details--right{
  width: 62.5%;
}
.tab-content {
  margin-top: 8px;
}

.email-tab-content,
.activity-tab-content,
.notes-tab-content {
  margin: 0rem 0.7rem;
}

.notesEditor{
  /* border: 2px solid aqua; */
  height: 13rem;
padding-right: 0.6rem;
}
.addNoteBtn{
  padding-right: 0.6rem;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8px;
}
.savedNotes{
  max-height: 70vh;
  overflow-y: scroll;
  padding-bottom: 0.5rem;
}
.addNotesDropdown{
  /* border:2px solid red; */
  /* margin-right: 0.3rem; */
  border: 1px solid #dcdcdc;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 0.7rem;
  text-transform: capitalize;
  color: #385083;
    background-color: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 16px;
}

.answer{
   display: none;
}
.display_answer{
  display: block;
}
.deleteNote{
  display: flex;
  justify-content: flex-end;
}
.noteDeleteBtn{
  cursor: pointer;
  background: #fff;
  border: none;
}
.colapedEditor{
  cursor: pointer;
   /* margin-right: 0.3rem; */
  height: 2.625rem;
  border-radius: 0.3125rem;
background: #F4F5F9;
display: flex;
align-items: center;
padding: 0 1rem;
margin-bottom:16px ;
}
.colapedEditor p{
color: #909DB0;
font-family: Lexend Deca;
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.02563rem;
}



.note-display {
  background-color: #fff;
  border-radius: 0.3125rem;
  border: 1px solid var(--stroke, #DCDCDC);
  background: #FFF;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.05);
  margin-bottom: 1rem;
}

.notes-main {
  width: 100%;
  margin-right: 1rem;
}

.note-content {
  display: flex;
  align-items: start;
  justify-content: start;
}

.notes-by {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notes-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notes-date p {
  padding-right: 0.75rem;
}

.arrow-greater {
  margin-left: 1rem;
  margin-top: 0.6rem;
  margin-right: 0.5rem;
}

.notes-by {
  margin-top: 0.5rem;
}


.notes-by p {
  color: #1E2224;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.02563rem;
  text-transform: capitalize;
}


.notes-by span {
  font-weight: 600;
}

.notes-date p {
  color: #33475B;
  font-size: 0.75rem;
}

.three-side-dots {
  width: 0.875rem;
  height: 0.875rem;
  flex-shrink: 0;
}

.note-content {
  width: 100%;
}



.notes-content p {
  color: #1E2224;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02563rem;
  text-transform: capitalize;
  margin-top:0.6rem;
  padding-bottom: 0.6rem;
  text-align: left;
}
.formEditor2{
  height: 13rem;
}

.formEditor2 button{
 background-color: black;
}


.note-discard-btn {
  padding: 8px 20px;
  font-family: "Lexend Deca", sans-serif;
    border-radius: 0.3125rem;
  background: white;
  color: #1e2224;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: -0.02563rem;
  text-transform: capitalize;
  border-radius: 0.3125rem;
  border: 1px solid #DCDCDC;
  margin-right: 0.5rem;
  }


.note-discard-btn:hover {
  cursor: pointer;
  color: white;
  background: rgb(204, 47, 47);
  border: 1px solid rgb(204, 47, 47);
  transition: all 400ms ease-in-out;
}

.note-save-btn {
  padding: 8px 20px;
  font-family: "Lexend Deca", sans-serif;
  border-radius: 0.3125rem;
  border: 1px solid #077838;
  background: #077838;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: -0.02563rem;
  text-transform: capitalize;


}

.note-save-btn:hover {
  cursor: pointer;
  color: #077838;
  background: #ffffff;
  border: 1px solid #077838;
  transition: all 400ms ease-in-out;
}
.ql-editor p{
  color: #1E2224;
  font-family: Lexend Deca;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02563rem;
  }
.quill{
border-radius: 0.3125rem;
background: #F4F5F9;
}
.ql-container{
  background: #F4F5F9;
}